/*Smooth Slider specific styles*/
.smooth_slider_fouc .smooth_slider {display: none;}
.smooth_slider div,.smooth_slider p,.smooth_slider li,.smooth_slider span,.smooth_slider img,.smooth_slider h2,.smooth_slider ul{list-style:none;background:transparent;vertical-align:baseline;}
.smooth_slider{padding:0 5px;}
.smooth_slider .sldr_title{margin:5px 0 10px 0;}
.smooth_slider span{display:inline;overflow:hidden;margin: 10px auto;line-height:18px;}
.smooth_slider .smooth_sliderb{position:relative;}
.smooth_slider .smooth_slideri{position:absolute;}
.smooth_slider a{text-decoration:none !important;}
.smooth_slider h2{clear:none;display:block;padding:0px;}
.smooth_slider p.smooth_more{margin:0;}
.smooth_slider p.smooth_more a{text-decoration:underline !important;float:right;}
.smooth_slider p.smooth_more a:hover{text-decoration:none;}

.sldrbr{line-height:1px;}
.sldrlink{display:block;font-size:8px;font-family:Verdana, Helvetica, sans-serif;}
.sldrlink a{position:absolute;bottom:0;right:5px;margin:10px auto;color:#333333;}
.sldr_clearlt{display:block;visibility:hidden;clear:left;height:0;content:".";}
.sldr_clearrt{display:block;visibility:hidden;clear:right;height:0;content:".";}

/* Overall */
html {
  scroll-behavior: smooth;
}

p, li, h3, h4, h5, h6 {
  color: #522700;
  font-family: "Muli";
}

h1, h2 {
  font-family: "Arvo";
  color: #DF744A;
  font-size: 60px;
}

.name {
  font-family: 'Muli', sans-serif;
  text-shadow: 3px 3px #f0bda8;
  font-size: 48px;
  float: left;
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 5px;
  margin-left: 20px;
}

body {
  background-image: url(./Resources/bkgd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px;
  min-height: 100vh;
}

a:link {
  color: #4b2e83;
  font-family: "Muli";
}

a:hover {
  color: #b7a57a;
}

a:hover {
  background-color: #DF744A;
  color: white;
}

.active {
  background-color: #DF744A !important;
  color: white;
}

.content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* buttons */
.btncolor {
  background-color: #FEDCD2;
}

button {
  color: #DF744A;
  width: 140px;
  font-size: 26px;
  border-radius: 8px;
  background-color: #B73825;
  border: 2px solid rgba(255, 255, 255, 0);
  height: 50px;
}

button:hover {
  background-color: #DF744A;
  color: #FEDCD2;
}

/* index.html */

#logo {
  width: 500px;
  padding-bottom: 10px;
}

#question {
    font-family: "Arvo";
    color: #522700;
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 75px;
}

#introbutton {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  background-color: #B73825;
  border: 2px solid rgba(255, 255, 255, 0);
}

/* donorlogin.html */

#loginform {
  border: 8px solid white;
  padding-right: 40px;
  padding-top: 40px;
  padding-left: 45px;
  padding-bottom: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  border-style: double;
}

#login {
  padding: 0 15px 10px 0;
}

#signin {
  padding-bottom: 20px;
  color: #B73825;
  font-size: 46px;
}

#loginbutton {
  margin-top: 20px;
  font-size: 20px;
  width: 85px;
  height: 40px;
  color: white;
  background-color: #B73825;
  border: 2px solid rgba(255, 255, 255, 0);
}

#label {
  color: #522700;
}

/* donor.html */
#donorlogo {
  width: 200px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 28%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 200px;
}

th {
  font-family: "Arvo";
  color: #B73825;
  font-size: 22px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  height: 50px;
  border-bottom: 3px solid white;
}

#welcome {
  font-family: "Arvo";
  font-size: 30px;
}

#welcomedata {
  padding: 12px 50px 0 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

#donor {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#donorcontent {
  margin-top: 120px;
}

#donortable {
  border: 8px solid white;
  margin-right: 40px;
  margin-top: 40px;
  margin-left: 45px;
  margin-bottom: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  border-style: double;
}

#data {
  border-bottom: 3px solid white;
  vertical-align: middle;
}

#row:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* recipient.html */
