<!DOCTYPE HTML>

<html>
<head>
<title>Crescendo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional-css.css') }}" />
<link href="https://fonts.googleapis.com/css?family=Nunito:wght@600" rel="stylesheet">
<style>
  html {
    scroll-behavior: smooth;
  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div id="mySidebar" class="sidebar">
    <a href="{{ url_for('index') }}" id="topMenu" style="font-size:26px; font-weight:600"><img alt="Crescendo logo" src='../static/assets/crescendo_logo.png' class="crescendoLogo"></a><br>

    <a href="{{ url_for('index') }}" id="topMenu"><img alt="songs" src='../static/assets/songs-icon.png' class="menuicon">Songs</span></a>
    <a href="{{ url_for('playlists') }}" id="topMenu" class="activeLink"><img alt="songs" src='../static/assets/playlist-icon.png' class="menuicon">Playlists</a></span></a>
    <a href="{{ url_for('artists') }}" id="topMenu"><img alt="songs" src='../static/assets/mic-icon.png' class="menuicon">Artists</span></a>
    <a href="{{ url_for('community') }}" id="topMenu"><img alt="songs" src='../static/assets/group-icon.png' class="menuicon">Community<span></a>
    <a href="{{ url_for('requests_def') }}" id="topMenu"><img alt="songs" src='../static/assets/req-icon.png' class="menuicon">Requests<span></a>

    <a href="{{ url_for('dashboard') }}" id="bottomMenu"><img alt="songs" src='../static/assets/dash-icon.png' class="menuicon">Artist Dashboard</a>
  </div>

<div id="main">
<!-- About Us -->
<div class="container">
  <a id="about" class="anchor"></a>
  <h1 class="heading">Playlists</h1>

  <!--  Table-->
  <h2 class="heading">Recently Edited</h2>
    <div class="requesttable">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="font-size: 18px; background-color:#1a535c; color:white">#</th>
            <th scope="col" style="font-size: 18px; background-color:#1a535c; color:white">Playlist Name</th>
            <th scope="col" style="font-size: 18px; background-color:#1a535c; color:white">Number of Songs</th>
            <th scope="col" style="font-size: 18px; background-color:#1a535c; color:white">Plays</th>
          </tr>
        </thead>
        <tbody>
          <!-- Button trigger modal -->

          <tr class="clickable-row" >
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal">1</a></th>
              <td><a data-toggle="modal" data-target="#exampleModal">Favorites 🤩 Since March 😷</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">53</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">105</a></td>
          </tr>
          <tr class="clickable-row" >
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal">2</a></th>
              <td><a data-toggle="modal" data-target="#exampleModal">Shower Karaoke 🚿 = 🎤</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">6</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">975</a></td>
          </tr>
          <tr class="clickable-row" >
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal">3</a></th>
              <td><a data-toggle="modal" data-target="#exampleModal">Spooky Season 🎃️</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">13</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">51</a></td>
          </tr>
          <tr class="clickable-row" >
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal">4</a></th>
              <td><a data-toggle="modal" data-target="#exampleModal">🍃 Feels Like Fall 🍂</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">81</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">44</a></td>
          </tr>
          <tr class="clickable-row" >
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal">5</a></th>
              <td><a data-toggle="modal" data-target="#exampleModal">🏠 Music</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">25</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">7</a></td>
          </tr>
          <tr class="clickable-row" >
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal">6</a></th>
              <td><a data-toggle="modal" data-target="#exampleModal">Cloudy Days ☁️</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">28</a></td>
              <td><a data-toggle="modal" data-target="#exampleModal">392</a></td>
          </tr>
        </tbody>
    </table>

    </div>

</div>


<div class="center"><br>© 2020 Sophia Hwang, Lucy Jiang, and Justin Ong</div>

</body>
</html>

<script>

</script>
