<!DOCTYPE HTML>

<html>
<head>
<title>Crescendo</title>
<link rel="stylesheet" href="../../static/bootstrap-4.2.1-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/additional-css.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:wght@600" rel="stylesheet">
<style>
  html {
    scroll-behavior: smooth;
  }
.topnav input[type=text] {
    border: 1px solid #ccc;
  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div id="mySidebar" class="sidebar">
    <a href="{{ url_for('index') }}" id="topMenu" style="font-size:26px; font-weight:600"><img alt="Crescendo logo" src='../static/assets/crescendo_logo.png' class="crescendoLogo"></a><br>

    <a href="{{ url_for('index') }}" id="topMenu"><img alt="songs" src='../static/assets/songs-icon.png' class="menuicon">Songs</span></a>
    <a href="{{ url_for('playlists') }}" id="topMenu"><img alt="songs" src='../static/assets/playlist-icon.png' class="menuicon">Playlists</a></span></a>
    <a href="{{ url_for('artists') }}" id="topMenu"><img alt="songs" src='../static/assets/mic-icon.png' class="menuicon">Artists</span></a>
    <a href="{{ url_for('community') }}" id="topMenu"><img alt="songs" src='../static/assets/group-icon.png' class="menuicon">Community<span></a>
    <a href="{{ url_for('requests_def') }}" id="topMenu" class="activeLink"><img alt="songs" src='../static/assets/req-icon.png' class="menuicon">Requests<span></a>

    <a href="{{ url_for('dashboard') }}" id="bottomMenu"><img alt="songs" src='../static/assets/dash-icon.png' class="menuicon">Artist Dashboard</a>
  </div>

<div id="main">
<!-- About Us -->
<div class="container">
  <a id="about" class="anchor"></a>
  <h1 class="heading">Requests</h1>

  <!-- Recently Added -->
  <h2 class="heading">Your Submitted Requests</h2>
    <a id="resources main" class="anchor"></a>

      <div class="row center discover" style="padding: 0px 0px 20px 0px">

        <!-- Card 1 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="discover-front" id="front0">
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                <div class="card-body">
                  <img class="card-img-top" id="squareCrop" src="../static/assets/leroy.jpg" alt="Card image cap">
                  <div id="song-text">
                    <h4 class="song-title">Cover a Song</h4>
                    <p class="song-artist">You requested for Leroy Sanchez to cover <i>I'll Make a Man Out of You</i> from Mulan (the original).</p>
                    <p class="song-artist"><b>Submitted 2 days ago</b></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="discover-front" id="front0">
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                <div class="card-body">
                  <img class="card-img-top" id="squareCrop" src="../static/assets/kina.jpg" alt="Card image cap">
                  <div id="song-text">
                    <h4 class="song-title">Happy Birthday Message</h4>
                    <p class="song-artist">You requested for Kina Grannis to wish your best friend happy birthday.</p>
                    <p class="song-artist"><b>Submitted 2 days ago</b></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="discover-front" id="front0">
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                <div class="card-body">
                  <img class="card-img-top" id="squareCrop" src="../static/assets/tangy.jpg" alt="Card image cap">
                  <div id="song-text">
                    <h4 class="song-title">Music & Dance Challenge</h4>
                    <p class="song-artist">You requested for Andrew Tang to do the Savage Love dance challenge.</p>
                    <p class="song-artist"><b>Submitted 3 days ago</b></p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="discover-front" id="front0">
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                <div class="card-body">
                  <img class="card-img-top" id="squareCrop" src="../static/assets/umi.jpg" alt="Card image cap">
                  <div id="song-text">
                    <h4 class="song-title">Cover a Song</h4>
                    <p class="song-artist">You requested for UMI to cover <i>Almost is Never Enough</i> by Ariana Grande and Nathan Sykes.</p>
                    <p class="song-artist"><b>Submitted 5 days ago</b></p>
                  </div>
                </div>
              </div>
            </div>
        </div>


      </div>


<div class="center"><br>© 2020 Sophia Hwang, Lucy Jiang, and Justin Ong</div>

</body>
</html>

<script>

</script>
