/* DUBHACKS 2020 */

body {
  background-color: #f7fff7;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

hr {
  height: 2px;
  background-color: #4ecdc4;
}

#navLabels {
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
}

.my-div:hover {
  background-color: #4ecdc4;
  color: #f7fff7;
}

.pill-nav {
  padding-left: 25px;
}

#activate-div {
  display: none;
}

.my-div {
  display: inline-block;
  color: #1a535c;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer !important;
}

.checkstyle:checked ~ label .my-div {
  background-color: #1a535c;
  color: #f7fff7;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.heading {
  padding: 0px 0px 20px 25px;
  font-weight: 800;
}

.sidebar {
  height: 100%;
  width: 22%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a535c;
  transition: 0.25s;
  overflow-x: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 19px;
  color: #4ecdc4;
  display: block;
}

.sidebar a:hover {
  color: #f7fff7;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 24px;
}

#main {
  padding: 16px;
  margin-left: 22%;
  transition: margin-left 0.25s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#topMenu {
  vertical-align: top;
}

#bottomMenu {
  margin: 0;
  position: absolute;
  top: 88%;
}

/* DIVIDER */

.center {
    text-align:center;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  color: #1a535c;
}

#headerImg {
    max-width: 100%;
    width: 600px;
    height: auto;
    float: left;
    margin: 0 50px;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

iframe {
    margin-left:auto;
    margin-right:auto;
}

.section {
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}

.offset-lg-25 {
  margin-left: 20%;
}

.resourceImg {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    float: center;
    width: 60px;
    height: auto;
}

footer {
    margin: 30px;
}

a {
  color: #4ecdc4;
}

#crossfade {
  position: relative;
  padding-right: 20px;
  height: 15px;
  width: auto;
  top: 2px;
  display: inline-block;
}

#crossfade img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#crossfade img.transparent {
  opacity: 0;
}

.transparent {
  opacity: 0;
}

.gone {
  display: none;
}

/* trial nav bar stuff */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.75;
}

.carousel-caption {
  opacity: 1;
}

.navbar {
  background-color: #4ecdc4 !important;
}

.nav-link {
  color: #f7fff7;
}

.container {
  padding-top: 25px;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

td {
  padding: 5px 15px;
}

.leader {
  padding-top: 80px;
}

/* card stuff */
.card-container {
  perspective: 700px;
  opacity: 1.0;
}

.card-container, .card-img, .gradient {
  transition: all 0.4s ease;
}

.card-img:hover {
  opacity: 0.85;
}

.gradient:hover {
  opacity: 1;
  box-shadow: 0px 5px 15px 0px  rgba(26,83,92,0.7);
  border-radius: 15px;
}

.gradient {
  height: 100%;
  width: auto;
  background-size: cover;
  z-index: 2;
  position: relative;
  background-image: linear-gradient(to top, rgba(26, 83, 92, 0), rgba(26,83,92,1));
  opacity: 1;
  border-radius: 15px;
}

.card-container {
  opacity: 1;
}

.card-flip {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  height: 300px;
  width: auto;
}

.front {
  grid-area: frontAndBack;
  background-color: #D3D3D3 !important;
  color: white;
  text-align: center;
  height: 300px;
  border-radius: 15px;
}

.card-img {
  height: 100%;
  width: auto;
  background-size: cover;
  z-index: 1;
  border-radius: 15px;
}

#card-title {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

#card-title-dash {
  font-weight: 900;
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  font-size: 35px;
}

.button-card {
  border: none;
  height: 100%;
  width: 350px;
  text-align: center;
  opacity: 0;
  z-index: 1;
  cursor: pointer !important;
}

/* Fade In */

.fade-in-text {
  animation: fadeIn ease 1.2s;
  -webkit-animation: fadeIn ease 1.2s;
  -moz-animation: fadeIn ease 1.2s;
  -o-animation: fadeIn ease 1.2s;
  -ms-animation: fadeIn ease 1.2s;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* Fade Out */

.fade-out-card {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

.fade-out {
  animation: fadeOut ease 0.6s;
  -webkit-animation: fadeOut ease 0.6s;
  -moz-animation: fadeOut ease 0.6s;
  -o-animation: fadeOut ease 0.6s;
  -ms-animation: fadeOut ease 0.6s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.carousel-item {
  opacity: 0.9;
}

#carousel-control {
  width: 100px;
}

.overlay {
  position: absolute;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8 {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.row {
  max-width: 100%;
  margin-left: 60px;
  margin-right: 60px;
}

.discover {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

#event-card {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}

#discover-card {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

#card-title {
  padding-top: 20px;
}

.pronouns {
  background-color: #ecebed !important;
  color: #5c5962 !important;
  font-size: 11.75px;
  text-align: center;
  padding-top: 0.16em;
  padding-right: 0.44em;
  padding-bottom: 0.24em;
  padding-left: 0.44em;
  font-weight: 600;
  border-radius: 0.28em;
  margin-top: 3px;
  display: inline-block;
}
