<!DOCTYPE HTML>

<html>
<head>
<title>Crescendo</title>
<link rel="stylesheet" href="../static/bootstrap-4.2.1-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../static/additional-css.css" />
<style>
  html {
    scroll-behavior: smooth;
  }

  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<!--Nav Bar-->
  <!-- <a class="navbar-brand" href="index.html#"><img src="images/TransparentHusky.png" height="55px" width=auto
      id="husky-navbar"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div id="mySidebar" class="sidebar">
    <a href="index.html" id="topMenu" style="font-size:26px"><span><i class="material-icons">asfd</i><span class="icon-text"></span>Crescendo</span></a><br>

    <a href="#" id="topMenu"><span><i class="material-icons">songs</i><span class="icon-text"></span>Songs</span></a>
    <a href="#" id="topMenu"><span><i class="material-icons">playlists</i><span class="icon-text"></span>Playlists</a></span></a>
    <a href="#" id="topMenu"><span><i class="material-icons">artists</i><span class="icon-text"></span>Artists</span></a>
    <a href="#" id="topMenu"><span><i class="material-icons">requests</i><span class="icon-text"></span>Requests<span></a>
    <a href="#" id="topMenu"><span><i class="material-icons">community</i><span class="icon-text"></span>Community<span></a>

    <a href="dashboard.html" id="bottomMenu"><span><i class="material-icons">dashboard</i><span class="icon-text"></span>Artist Dashboard<span></a>
  </div>

<!-- Picture Slidey -->
<!--
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-caption d-none d-md-block overlay">
        <h2 class="display-4">ACM @ University of Washington</h2>
        <p class="lead" style="font-size: 1.25rem">A student organization dedicated to improving the experience of students within <br /> the Paul G. Allen School of Computer Science & Engineering.</p>
      </div>
      <div class="carousel-item active" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/springbbq.jpg')">
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/fallfest.jpg')">
      </div>
    </div>
    <a class="carousel-control-prev" id="carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" id="carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>
-->

<div id="main">
<!-- About Us -->
<div class="container">
  <a id="about" class="anchor"></a>
  <h1 class="heading">Artist Dashboard</h1>


  <!-- Events -->
    <a id="resources main" class="anchor"></a>
      <div class="row center" style="padding: 0px 0px 20px 0px">

        <!-- Card 1 -->
        <div class="col-sm-6 card-container" id="event-card">
            <div class="front" id="front0">
              <h2 id="card-title">Your Music</h2>
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/departmentalsocials.jpg')">
                  <button class="button-card" onclick="showBack(0)">
                  </button>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-6 card-container" id="event-card">
            <div class="front" id="front1">
              <h2 id="card-title">Insights</h2>
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/biglittle.jpg')">
                  <button class="button-card" onclick="showBack(1)">
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="row center" style="padding: 0px 0px 20px 0px">

        <!-- Card 1 -->
        <div class="col-sm-6 card-container" id="event-card">
            <div class="front" id="front0">
              <h2 id="card-title">Requests</h2>
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/departmentalsocials.jpg')">
                  <button class="button-card" onclick="showBack(0)">
                  </button>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-6 card-container" id="event-card">
            <div class="front" id="front1">
              <h2 id="card-title">Community</h2>
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/biglittle.jpg')">
                  <button class="button-card" onclick="showBack(1)">
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>

</div>


<div class="center"><br>© 2020 Sophia Hwang, Lucy Jiang, and Justin Ong</div>

</body>
</html>

<script>

</script>
