<!DOCTYPE HTML>

<html>
<head>
<title>Crescendo</title>
<link rel="stylesheet" href="../static/bootstrap-4.2.1-dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../static/additional-css.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:wght@600" rel="stylesheet">
<style>
  html {
    scroll-behavior: smooth;
  }

  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="mySidebar" class="sidebar">
      <a href="index.html" id="topMenu" style="font-size:26px; font-weight:600"><span><i class="material-icons">asfd</i><span class="icon-text"></span>Crescendo</span></a><br>

      <a href="#" id="topMenu"><span><i class="material-icons">songs</i><span class="icon-text"></span>Songs</span></a>
      <a href="#" id="topMenu"><span><i class="material-icons">playlists</i><span class="icon-text"></span>Playlists</a></span></a>
      <a href="#" id="topMenu"><span><i class="material-icons">artists</i><span class="icon-text"></span>Artists</span></a>
      <a href="#" id="topMenu"><span><i class="material-icons">requests</i><span class="icon-text"></span>Requests<span></a>
      <a href="#" id="topMenu"><span><i class="material-icons">community</i><span class="icon-text"></span>Community<span></a>

      <a href="dashboard.html" id="bottomMenu"><span><i class="material-icons">dashboard</i><span class="icon-text"></span>Artist Dashboard<span></a>
    </div>

<div id="main">
<!-- About Us -->
<div class="container">
  <a id="about" class="anchor"></a>
  <h1 class="heading">Discover</h1>

  <!-- Filter by -->

  <div class="pill-nav">
    <span id="navLabels">Filter by:</span>

    <span>
    <input type="checkbox" id="activate-div1" class="checkstyle" hidden>
      <label for="activate-div1">
       <div class="my-div">
          Map
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div2" class="checkstyle" hidden>
      <label for="activate-div2">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div3" class="checkstyle" hidden>
      <label for="activate-div3">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

      <br>

    <span id="navLabels">Genre:</span>

    <span>
    <input type="checkbox" id="activate-div4" class="checkstyle" hidden>
      <label for="activate-div4">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div5" class="checkstyle" hidden>
      <label for="activate-div5">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div6" class="checkstyle" hidden>
      <label for="activate-div6">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div7" class="checkstyle" hidden>
      <label for="activate-div7">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

  </div>

​<hr />​​​​​​​​​​​​​​​​​​​<br />

  <!-- Recently Added -->
  <h2 class="heading">Recently Added</h2>
    <a id="resources main" class="anchor"></a>
      <div class="row center discover" style="padding: 0px 0px 20px 0px">

        <!-- Card 1 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="front" id="front0">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Song title</h3>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="front" id="front1">
              <h2 id="card-title">Insights</h2>
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/biglittle.jpg')">
                  <button class="button-card" onclick="showBack(1)">
                  </button>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 1 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="front" id="front0">
              <h2 id="card-title">Your Music</h2>
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/departmentalsocials.jpg')">
                  <button class="button-card" onclick="showBack(0)">
                  </button>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-sm-3 card-container" id="discover-card">
            <div class="front" id="front1">
              <h2 id="card-title">Insights</h2>
              <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/biglittle.jpg')">
                  <button class="button-card" onclick="showBack(1)">
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>

      ​<hr />​​​​​​​​​​​​​​​​​​​<br />

      <!-- Top Tracks -->
      <h2 class="heading">Top Tracks</h2>
        <a id="resources main" class="anchor"></a>
          <div class="row center discover" style="padding: 0px 0px 20px 0px">

            <!-- Card 1 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front0">
                  <h2 id="card-title">Your Music</h2>
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                    <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/departmentalsocials.jpg')">
                      <button class="button-card" onclick="showBack(0)">
                      </button>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front1">
                  <h2 id="card-title">Insights</h2>
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                    <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/biglittle.jpg')">
                      <button class="button-card" onclick="showBack(1)">
                      </button>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 1 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front0">
                  <h2 id="card-title">Your Music</h2>
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                    <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/departmentalsocials.jpg')">
                      <button class="button-card" onclick="showBack(0)">
                      </button>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front1">
                  <h2 id="card-title">Insights</h2>
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95), 70%)">
                    <div class="card-img" style="background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url('images/events/biglittle.jpg')">
                      <button class="button-card" onclick="showBack(1)">
                      </button>
                    </div>
                  </div>
                </div>
            </div>
          </div>

</div>


<div class="center"><br>© 2020 Sophia Hwang, Lucy Jiang, and Justin Ong</div>

</body>
</html>

<script>

</script>
