<!DOCTYPE HTML>

<html>
<head>
<title>Crescendo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.2.1-dist/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional-css.css') }}" />
<link href="https://fonts.googleapis.com/css?family=Nunito:wght@600" rel="stylesheet">
<style>
  html {
    scroll-behavior: smooth;
  }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div id="mySidebar" class="sidebar">
    <a href="{{ url_for('index') }}" id="topMenu" style="font-size:26px; font-weight:600"><img alt="Crescendo logo" src='../static/assets/crescendo_logo.png' class="crescendoLogo"></a><br>

    <a href="{{ url_for('songs') }}" id="topMenu"><img alt="songs" src='../static/assets/songs-icon.png' class="menuicon">Songs</span></a>
    <a href="{{ url_for('playlists') }}" id="topMenu"><img alt="songs" src='../static/assets/playlist-icon.png' class="menuicon">Playlists</a></span></a>
    <a href="{{ url_for('artists') }}" id="topMenu"><img alt="songs" src='../static/assets/mic-icon.png' class="menuicon">Artists</span></a>
    <a href="{{ url_for('community') }}" id="topMenu"><img alt="songs" src='../static/assets/group-icon.png' class="menuicon">Community<span></a>
    <a href="{{ url_for('requests') }}" id="topMenu"><img alt="songs" src='../static/assets/req-icon.png' class="menuicon">Requests<span></a>

    <a href="{{ url_for('dashboard') }}" id="bottomMenu"><img alt="songs" src='../static/assets/dash-icon.png' class="menuicon">Artist Dashboard</a>
  </div>

<div id="main">
<!-- About Us -->
<div class="container">
  <a id="about" class="anchor"></a>
  <h1 class="heading">Discover</h1>

  <!-- Filter by -->

  <div class="pill-nav">
    <span id="navLabels">Filter by:</span>

    <span>
    <input type="checkbox" id="activate-div1" class="checkstyle" hidden>
      <label for="activate-div1">
       <div class="my-div">
          Map
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div2" class="checkstyle" hidden>
      <label for="activate-div2">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div3" class="checkstyle" hidden>
      <label for="activate-div3">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

      <br>

    <span id="navLabels">Genre:</span>

    <span>
    <input type="checkbox" id="activate-div4" class="checkstyle" hidden>
      <label for="activate-div4">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div5" class="checkstyle" hidden>
      <label for="activate-div5">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div6" class="checkstyle" hidden>
      <label for="activate-div6">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

    <span>
    <input type="checkbox" id="activate-div7" class="checkstyle" hidden>
      <label for="activate-div7">
       <div class="my-div">
          Song / Album
       </div>
      </label>
    </span>

  </div>

​<hr />​​​​​​​​​​​​​​​​​​​

  <!-- Recently Added -->
  <h2 class="heading">Recently Added</h2>
    <a id="resources main" class="anchor"></a>
      <div class="row center discover" style="padding: 0px 0px 20px 0px">
        {% for i in recent_models %}
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front0">
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                    <div class="card-body">
                      <img class="card-img-top" src="{{ i.cover_art }}" alt="Card image cap">
                      <div id="song-text">
                        <h4 class="song-title">{{ i.track }}</h4>
                        <p class="song-artist">{{ i.id }}</p>
                        <audio controls style="width: 100%">
                            <source src="{{ i.audio }}" type="audio/mp3">
                        </audio>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
        <!-- Card 1 -->
      </div>

      ​<hr />​​​​​​​​​​​​​​​​​​​

      <!-- Top Tracks -->
      <h2 class="heading">Top Tracks</h2>
        <a id="resources main" class="anchor"></a>
          <div class="row center discover" style="padding: 0px 0px 20px 0px">

            <!-- Card 1 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front0">
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                    <div class="card-body">
                      <img class="card-img-top" src="../static/assets/Stats.png" alt="Card image cap">
                      <div id="song-text">
                        <h4 class="song-title">Song title</h4>
                        <p class="song-artist">Song artist</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front0">
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                    <div class="card-body">
                      <img class="card-img-top" src="../static/assets/Stats.png" alt="Card image cap">
                      <div id="song-text">
                        <h4 class="song-title">Song title</h4>
                        <p class="song-artist">Song artist</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front0">
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                    <div class="card-body">
                      <img class="card-img-top" src="../static/assets/Stats.png" alt="Card image cap">
                      <div id="song-text">
                        <h4 class="song-title">Song title</h4>
                        <p class="song-artist">Song artist</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-sm-3 card-container" id="discover-card">
                <div class="front" id="front0">
                  <div class="gradient" style="background-image: linear-gradient(to top, rgba(26, 83, 92, 0.8), rgba(26, 83, 92, 0), 30%)">
                    <div class="card-body">
                      <img class="card-img-top" src="../static/assets/Stats.png" alt="Card image cap">
                      <div id="song-text">
                        <h4 class="song-title">Song title</h4>
                        <p class="song-artist">Song artist</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


          </div>

</div>


<div class="center"><br>© 2020 Sophia Hwang, Lucy Jiang, and Justin Ong</div>

</body>
</html>

<script>

</script>
